@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import 'css/mq.css';
@import 'css/components.css';


*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(255, 243, 243);
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 50px;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

/* ............/navbar/............ *

/* desktop mode............/// */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

.navbar {
    width: 100%;
    height: 73px;
    border-radius: 37px;
    background-color: #5970c1;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items {
    order: 2;
    display: flex;
    align-items: center;
}

.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.menu-items a {
    font-size: 1.2em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
    color: #117964;
    transition: color 0.3s ease-in-out;
}

.logo {
    color: #ffffff;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.gallery-btn{
    text-decoration-line: underline;
    /* border: 3px solid #ffffff;
    border-radius: 40px;
    padding: 5px;
    color: #1aa4a4;
    background-color: white; */
}

.dark-theme {
    background-color: rgb(61, 59, 59);
    --white: rgb(0, 0, 0);
    --primary-color: rgb(20, 22, 37);
    --font-color: #ffffff;
}

.moon-icon{
    width: 20px;
    height: 20px;
}
.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    margin-top: 80px;
}

.meme {
    color: white;
    display: flex;
    align-items: center;
}

img {
    border-radius:20px;
    width: 100%;
}
.single-meme-container {
    background-color: rgb(255, 255, 255);
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    display: none;
}


.single-meme {
    display: flow-root;
    color: white;
    width: 500px;
    height: 546px;
}


.meme-txt {
    position: absolute;
    width: 500px;
    height: 546px;
    font-size: 50px;
    text-align: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}

/*  */
.single-meme-img {

    /* position: relative; */
    z-index: 0;
    height: 546px;
    width: 100%;
    border-radius: 12px;
}

.editor-container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.the-editor {
    width: 525px;
    height: 546px;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
    border-radius: 30px;
    background-color: #ebeef3;
    /* opacity: 0.11; */
    font-size: 50px;
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
}

.selected-meme-txt {
    text-decoration: underline;
}


button {
    src: url(/img/textaligncenter.png);
    font-size: 20px;
    width: 55px;
    height: 51px;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ffffff;
}

.user-text {
    font-size: 25px;
    width: 445px;
    height: 57px;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
    border-radius: 28px;
    background-color: #ebeef3;
}

.red-button {
    width: 58px;
    height: 53px;
    box-shadow: 1px 5px 0 #8c0606, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #cf1d37 0%, #cf1d37 1%, #f05036 100%);
}

.fa-trash {
    color: white;
}

.plus-button {
    width: 58px;
    height: 53px;
    box-shadow: 1px 5px 0 #015d33, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
}

.blue-button {
    width: 57px;
    height: 53px;
    box-shadow: 1px 5px 0 #048b97, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
}

.download-button {
    width: 213px;
    height: 51px;
    border-radius: 15px;
    background-color: #8f44bb;
}

.download-href {
    width: 213px;
    height: 51px;
    position: absolute;
}

.publish-button {
    width: 213px;
    height: 51px;
    border-radius: 15px;
    background-color: #1e7cd3;
}

.main-content {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.search-box {
    margin: 10px;
    font-size: 25px;
    color: white;
    border-radius: 29px;
    background-color: #22252c;
}

.About {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
/* * ......../ mediaquery /.......... */

@media (min-width: 768px) {
    .search-box {
        width: 27rem;
        height: 3.3rem;
    }
}

@media (max-width: 768px) {
    .search-box {
        width: 27rem;
        height: 3.3rem;
    }

    .navbar {
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }

    .navbar-container {

        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
    }

    .navbar-container .hamburger-lines {
        display: block;
        height: 23px;
        width: 35px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }

    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;
        background-color: #5970c1;
        background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    }

    .navbar .menu-items li {
        margin-bottom: 1.5rem;
        font-size: 1.3rem;
        font-weight: 500;
    }

    .logo {
        position: absolute;
        top: 5px;
        right: 15px;
        font-size: 1.5rem;
    }

    .navbar-container input[type="checkbox"]:checked~.menu-items {
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(35deg);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-35deg);
    }
}

@media (max-width: 500px) {

    .search-box {
        width: 20rem;
        height: 3.3rem;
    }

    .navbar .menu-items li {
        font-size: 1.6rem;
    }

    .logo {
        position: absolute;
        top: 06px;
        right: 15px;
        font-size: 1.5rem;
    }

    .navbar .menu-items li {
        margin-bottom: 2.5rem;
        font-size: 1.8rem;
        font-weight: 500;
    }
}

/* canvas */

canvas {
    border: solid black 1px;
    display: block;
    /* outline: 1px solid black; */
    background-color: #fff;
}

.user-options {
    text-align: center;
}

.save {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#my-canvas {
    display: none;
}

#icon {
    cursor: pointer;
}

input[type="color"] {
	-webkit-appearance: none;
    position: absolute;
	border: none;
    opacity: 0;
	width: 32px;
	height: 32px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
    opacity: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
    opacity: 0;
}